<h1>Sing Up Form</h1>

<form action="/regrister" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Submit</button>
</form>

<li><a href="/regrister">Register</a></li>
<li><a href="/login">LogIn</a></li>
<li><a href="/logout">LogOut</a></li>