
<% include partials/header %>

<h1>Welcome to Home Page</h1>
<img src="https://images.unsplash.com/photo-1515285768613-9efbec9fe26b?auto=format&fit=crop&w=1650&q=80" alt="byeautyfull car">

<% include partials/footer %>